mirrors-lst
	http://osgeo4w-oslandia.com/mirror/;oslandia;France;Paris
	http://download.osgeo.org/osgeo4w/;OSGeo;USA;California
	http://www.norbit.de/osgeo4w/;norBIT GmbH;Germany;Niedersachsen
window-placement
	44,0,0,0,0,0,0,0,1,0,0,0,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,53,1,0,0,184,0,0,0,76,5,0,0,190,2,0,0
last-mode
	Advanced
last-mirror
	http://download.osgeo.org/osgeo4w/
net-method
	Direct
last-cache
	C:\Users\kubas\AppData\Local\Temp
last-menu-name
	OSGeo4W
